@inherits LayoutComponentBase
<PageTitle>Kindloteka</PageTitle>
<BlazoredToasts />
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            @* Wpisać za link strone szkoły *@
            <a href="https://www.zskzlotow.pl" target="_blank">Strona główna</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>